{% extends "base.html" %}
{% block title %}Contact Flask Photography{% endblock %}
{% block mainhead %}<h1>Contact Us</h1>{% endblock %}
{% block main %}
    <p>We are always looking to grow the Flask photography community. If you find anything wrong or not functional, please raise an issue with our internal support team. Admins will have the issue worked out shortly.</p>
    <p>You can reach our team at <i>flaskptg@foobar.com</i>. We are available to provide support from 8am-5pm M-F. Thank you for browsing!
{% endblock %}